@CHARSET "UTF-8";

.ui-fileupload-buttonbar {
	margin: 0px 0px 0px 0px !important;
	width: 0px !important;
	padding: 0px 0px 0px 0px !important;
	border: none !important;
	border-style: none;
}

.ui-fileupload {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	display: inline-block;
	border: none;
}

.ui-fileupload-content {
	display: none;
}

.toolbarButton::before,
.secondaryToolbarButton::before {
	display:none;
}
 